{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>
    <header>
        <h1>Welcome to the Library Management System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'category-list' %}">Categories</a></li>
                <li><a href="{% url 'book-list' %}">Books</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Library Management System Made by Ell</p>
    </footer>
</body>
</html>
